/*body{
	background-color: #000000;
	color: #FFFFFF;
}*/
#developer-info, #fps {
	width: 400px;
	margin-left: auto;
    margin-right: auto;
    display: block;
}
#stage{
    width:550px;
    height:550px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style:dotted;
    border-width:1px;
}