body{
    /*background-color: #7EC0EE !important;*/
    color: #2C2C2C;
}
#main{
    /*display: none;*/
    background-color: #FFFFFF;
    color: #2C2C2C;
    border-style: solid;
    border-width:3px;
    border-radius: 15px;
    width: 50%;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    height: auto;
    min-width: 350px;
    max-height: 1000px;
    overflow-x: hidden;
}
#stage{
    width:100vw;
    height:100vh;
    /*margin-left: auto;
    margin-right: auto;*/
}

#developer-info, #fps {
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
